extends ../shared/template

block content
  .row
    .small-12.columns
      img(class='user-image', src= showUser.pic)
  .row
    .small-12.columns
      label &nbsp
      h5='Username :    '+ " " + showUser.name
      h5='Email :    ' + showUser.email
  .row
    .small-12.columns.user-item-list
      h3= showUser.name + '\'s items'
      table.user-items
        thead
          th Picture
          th Name
          th Year
          th Description
          th Cost
          th Tags
          th Remove
        tbody
          each item in items
            tr
              if item.photos.length !== 0
                td: a(href='/items/'+item._id.toString()): img(class='pic-show',src= item.photos[0])
              td
                a(href='/items/'+item._id.toString())= item.name
              td= item.year
              td= item.description
              td= '$' + item.cost
              td= item.tags.join(', ')
              if user._id.toString() === showUser._id.toString()
                td
                  form(action='/items/'+item._id.toString(), method='POST', onsubmit="return confirm('Are you sure you want to delete item?')")
                    input(type='hidden', name='_method', value='delete')
                    button.alert.del-but x
