extends ../shared/template

block content
  .row
    .small-12.columns
      h3= 'Offered for trade by '
        a(href= '/users/' + owner._id.toString())= owner.name
  .row
    .small-12.columns.intro
      h5= item.name
      h5= item.year
      h5= 'Estimated Value: $' + item.cost
      h5= item.description
  if user
    if user._id.toString() === owner._id.toString()
      .row.add
        .small-8.columns.add-photo
          form(action='/items/'+item._id, method='post', enctype='multipart/form-data')
            fieldset.add-photo-bg
              legend Add photos
              input(type='file' name='pic')
              label.Upload-err User can only upload 5 images
              button.tiny.radius Add Image
  .row
    .small-12.columns
      each photo in item.photos
        div#align.item-pic
          img(src= photo)
          button(class='alert del-sing-img', data=photo, id=item._id.toString()) x
  if user
    if user._id.toString() !== owner._id.toString()
      .row
        .small-4.columns
          h3 Offer an item for this one!
        .small-4.columns
          select#offerOptions
            each thing in myItems
              if !thing.offered
                option(data-id= thing._id.toString())= thing.name + ': $' + thing.cost
        .small-4.columns
          button.small#makeOffer(data-id= item._id.toString()) Make Offer!

  if offers.length !== 0
    .row
      .small-12.columns
        h3 Items offered for this one
        table
          thead
            th Name
            th Year
            th Cost
            th Tags
            th
            th
          tbody
            each offer in offers
              tr
                td
                  a(href='/items/'+offer._id.toString())= offer.name
                td= offer.year
                td= offer.cost
                td= offer.tags.join(', ')
                td
                  if user
                    if offer.userId.toString() === user._id.toString()
                      form(action='/items/offers/'+item._id.toString()+'/'+offer._id.toString(), method='POST', onsubmit="return confirm('Are you sure you want to remove this offer?')")
                        input(type='hidden', name='_method', value='delete')
                        button.alert.tiny Remove Offer
                    if owner._id.toString() === user._id.toString()
                      form(action='/items/offers/'+item._id.toString()+'/'+offer._id.toString(), method='POST', onsubmit="return confirm('Are you sure you want to reject this offer?')")
                        input(type='hidden', name='_method', value='delete')
                        button.alert.tiny Reject Offer
                td
                  if user
                    if owner._id.toString() === user._id.toString()
                      form(action='/items/accept/'+item._id.toString()+'/'+offer._id.toString(), method='POST', onsubmit="return confirm('Are you sure want to accept this offer?')")
                        button.tiny#acceptOffer Accept Offer
    .row
      .small-12.columns
        if user
          if user._id.toString() === owner._id.toString()
            form(action='/items/'+item._id.toString(), method='POST')
              input(type='hidden', name='_method', value='delete')
              button.alert Delete Item
